<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Travel Diary</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1>Welcome to the Travel Diary</h1>
    <br>
    <a href='/places/new'><strong>Add a new trip?</strong></a>
    <br>
    <br>
    <a href='/places'><strong><em>See list of all trips?</em></strong></a>
  </div>
</body>

</html>