<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Travel Diary/DELETE-TRIP</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1>Your trip details have been successfully deleted!</h1>
    <br>
    <p><a href="/places">Go Back to Home?</a></p>
  </div>
</body>

</html>