<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Travel Diary/LIST-DETAILS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1>Trip Details:</h1>

    <h2>@Model.CityName</h2>
    <h5>@Model.Partner</h5>
    <h5>@Model.DaysStayed</h5>
    <p><strong>@Model.Journal</strong></p>

    <a href='/places/new'><strong>Add another trip?</strong></a>
    <br>
    <br>
    <a href='/places'><strong><em>View all Trip Locations?</em></strong></a>
  </div>
</body>

</html>